<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hieutm.game424">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HighScore"/>
        <activity android:name=".About">

    </activity>
        <activity android:name=".Guide"/>
        <activity android:name=".GamePlay_1"/>
        <activity android:name=".GamePlay_2"/>
        <activity android:name=".SwitchLevel"/>
        <activity android:name=".GameOver"/>
        <activity android:name=".WinGame"/>
        <activity android:name=".GamePlay_3"/>
        <activity android:name=".GamePlay_4"/>
        <activity android:name=".GamePlay_5">

        </activity>
        <activity android:name=".GamePlay_6"/>
        <activity android:name=".GamePlay_7">

        </activity>
        <activity android:name=".GamePlay_8"/>
        <activity android:name=".GamePlay_9"/>
        <activity android:name=".GamePlay_10">

        </activity>
    </application>



</manifest>